<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Planes</title>
    <link rel="icon" type="image/png" href="/images/icons/icono.ico"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
</head>
<body>
    <div class="main-container d-flex">
        <!--SIDEBAR-->
        <div th:replace="layouts/sidebar :: sidebar"></div>

        <div class="content">
            <!--NAV-DASH-->
            <nav th:replace="layouts/nav-dash :: nav-dash"></nav>

            <div class="dashboard-content px-3 pt-4">

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <div th:if="${clientesEntrenador.size() > 0}">
                            <h2 class="fs-3">Está seguro que quiere desactivar el entrenador, este se le quitara a clientes como: </h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cliente : ${clientesEntrenador}">
                                    <td th:text="${cliente.cliente.documento}"></td>
                                    <td th:text="${cliente.cliente.nombre}"></td>
                                    <td th:text="${cliente.cliente.apellido}"></td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                        <div th:if="${clientesEntrenador.size() == 0}">
                            <h2 class="fs-3">Está seguro que quiere desactivar el entrenador </h2>
                        </div>
                        <br>
                        <!--BOTONES-->
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <a th:href="@{/admin/dash-trainers}" class="btn btn-dark btn-block">
                                    <i class="fas fa-arrow-left"></i> Regresar
                                </a>
                            </div>
                            <div class="col-3">
                                <a th:href="@{/admin/dash-trainers/desactivar-trainer/}+${trainer.id_usuario}" class="btn btn-secondary">
                                    <i class="fa-solid fa-trash"></i> Desactivar Entrenador
                                </a>
                            </div>
                            <div class="col-3"></div>
                        </div>



                    </div>
                    <div class="col-3"></div>

                </div>


            </div>
        </div>
    </div>

    <!--SCRIPT SIDEBAR-->
    <script th:replace="layouts/script-sidebar :: script-sidebar"></script>

    <!--SCRIPTS BOTONES-->
    <div th:replace="layouts/scripts :: scripts"></div>

    <!--SCRIPT DATATABLE-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaRutinas').DataTable()
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaEjercicios').DataTable()
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaRutinaEjercicio').DataTable()
        });
    </script>



</body>
</html>