<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Planes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1193c03dcb.js" crossorigin="anonymous"></script>

</head>
<body id="body-index">

    <!--barra navegacion-->
    <div th:replace="cliente/layouts/navbar :: navbar"></div>
    <hr><br>


    <div class="container">

        <div th:if="${clienteDetalle==null}" class="row">

            <h1>PLANES DE BODYHEALTH</h1>
            <div class="card" style="width: 20rem;margin: 55px 25px 30px 55px" th:each="plan:${planes}">
                <br><h1 class="card-title" th:text="${plan.getPlan()}"></h1>
                <p style="font-size: medium" class="card-text" th:text="${plan.getMeses()+' Meses'}"></p>
                <img th:src="${'/images/alimentacionsana.webp'}" class="card-img-top" width="350" height="300">

                <p class="card-text" th:text="${'$'+plan.getPrecio()}"></p>

                <form th:action="@{/addPlan}" th:object="${clienteDetalle}" method="POST" >

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" th:data-bs-target="${'#exampleModal-'+plan.id_detalle}">
                        Añadir...
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="${'exampleModal-'+plan.id_detalle}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adquirir plan</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <input type="hidden" name="id_detalle" th:value="${plan.id_detalle}">

                                    <label for="id_metodopago" class="form-label">Metodo de pago: </label>
                                    <select name="id_metodopago" id="id_metodopago" required class="form-control ">

                                        <div th:each="metoPago : ${metodos}"> <!--Metodos de pago disponibles-->
                                            <option th:value="${metoPago.id_metodopago}" th:text="${metoPago.descripcion}"></option>
                                        </div>
                                    </select>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-dark" type="submit" >Adquirir...</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <br>

            </div>
        </div>

        <div th:if="${clienteDetalle!= null}" class="text-center">

            <div class="card border-success mb-3" >
                <div class="card-header" th:text="${'Enhorabuena, ya cuentas con el '+clienteDetalle.id_detalle.plan+' por '+clienteDetalle.id_detalle.meses+' Meses'}">Header</div>
                <div class="card-body text-success">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Fecha Inicio</h4>
                            <p class="card-text" th:text="${clienteDetalle.fecha_inicio}"></p> <br>
                        </div>
                        <div class="col">
                            <h4 class="card-title">Fecha Fin</h4>
                            <p class="card-text" th:text="${clienteDetalle.fecha_fin}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <h3 th:if="${clienteDetalle!=null && diferencia<7}"  th:text="${'Plan finaliza en '+diferencia+' días'}" class="card-title alert alert-danger " role="alert"></h3>
            <h3 th:if="${clienteDetalle!=null && (diferencia>7 && diferencia<28)}" th:text="${'Plan finaliza en '+diferencia+' días'}" class="card-title alert alert-warning " role="alert" ></h3>
            <h3 th:if="${clienteDetalle!=null && diferencia>28}" th:text="${'Plan finaliza en '+diferencia+' días'}" class="card-title alert alert-success " role="alert"></h3>






        </div>

    </div> <br><br>

    <!--CARRUSEL-->
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.divulgaciondinamica.es/wp-content/uploads/2020/11/personas-que-buscan-estetica.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://bodytech.com.co/uploads/post/03d28af749454db285945cd083f60507/234-las-manos-en-el-gym.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://blog.smartfit.com.mx/wp-content/uploads/2022/03/en-cuanto-tiempo-se-ven-los-resultados-del-gym-1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <br>

</body>
<footer th:replace="cliente/layouts/footer :: footer"></footer>

</html>