<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Noticias</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="/images/icons/icono.ico"/>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1193c03dcb.js" crossorigin="anonymous"></script>

</head>
<body id="body-index">

    <!--barra navegacion-->
    <div th:replace="cliente/layouts/navbar :: navbar"></div>
    <hr>
    
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
                <h1><b>Rituales para atraer la alegría</b></h1>
                <img src="https://t2.fr.ltmcdn.com/es/posts/3/0/0/frases_cortas_para_amigos_y_amigas_3_orig.jpg" alt="press" width="100%">

                <br> <br>
                <div id="left">
                    <p>Ser una persona positiva y alegre puede llegar a ser un desafío especialmente en el contexto en el que vivimos. Sin embargo, existen algunos rituales que te ayudan a convertirte en alguien feliz que impacta de manera excepcional a quienes lo rodean. </p>
                    <p>Algunos pueden pensar que las personas más felices son quienes viajan frecuentemente,  conducen carros último modelo, salen de fiesta todos los fines de semana y compran todo lo que se les antoja. Pero, la alegría permanente es casi un rasgo de la personalidad que puede cultivarse con algunos rituales sencillos que puedes realizar casi que a diario sin mucho presupuesto. Aquí te presentamos nuestros recomendados: </p>

                    <p>1. Sé curioso. Aprender algo nuevo cada día, por pequeño que parezca, nos produce un profundo sentimiento de satisfacción y alegría. Tal y como lo decía Albert Einstein “Una mente que se abre a una idea nueva nunca regresa a su tamaño original”.</p>

                    <p>Amplía tus horizontes aprendiendo un grupo de palabras nuevas en un idioma diferente, lee sobre un tema que te apasione o simplemente diviértete con la lectura de una novela entretenida. Retar la mente y aprender no solo te permite crecer sino compartir lo que aprendes con otros, estimulándolos a hacer lo mismo. </p>

                    <p>2.  Ayuda a otros. Mira a tu alrededor, puede ser un familiar que esté pasando por una enfermedad, puede ser un compañero de trabajo agobiado por la carga laboral o un amigo que lleva mucho tiempo buscando trabajo sin éxito. </p>

                    <p>Seguro que puedes ayudarlos. Lo principal es preguntarles qué puedes hacer por ellos, interesarte por los problemas de los demás eleva el sentimiento de alegría de dar tu ayuda a otros, en términos de tiempo, dinero, asesoría, compañía e interés genuino por las situaciones apremiantes de quienes más quieres. </p>

                    <p>3.  Sonreír. Una sonrisa genuina te hace ver como una persona confiable, amable y empática. Trata de mantener una sonrisa permanente en tu rostro y utilizala al saludar al conductor del taxi o del transporte público, a tus padres y pareja, a tus compañeros de trabajo e incluso a los desconocidos que se cruzan contigo en la calle.</p>

                    <p>Sonreír genera un efecto espejo en el otro y sin que esa persona lo piense ya estará sonriendo a otras personas también. </p>

                    <p>4.  Expresa tu cariño. No des por sentado que las personas ya saben que los quieres. Díselo por lo menos una vez al día. Si te cuesta expresarlo de manera verbal puedes mandarle un mensaje en el chat o dejarle una nota en el bolsillo de la chaqueta. Además de expresar tu amor le sorprenderás y alegrarás su día.</p>

                    <p>5.  Escucha música clásica. Puede que pienses que estas piezas están hechas para eruditos e intelectuales pero de acuerdo con el Dr Joel Robertson, quien se dedica a trabajar con individuos, corporaciones y organizaciones en la prevención de enfermedades y en mejorar el desempeño en el trabajo y el hogar “la música clásica tiene un cierto orden matemático que provoca que el cerebro entre en un estado de armonización”.</p>

                    <p>6.  Toma el sol. ¿Sabías que el 20 de junio es el día más feliz del año porque es el que más horas de luz tiene? La luz del día es un regalo del sol que tiene efectos positivos en nuestro estado de ánimo, bienestar y salud. Puedes aprovechar sus beneficiosos rayos a primera hora de la mañana haciendo ejercicio al aire libre, paseando tu mascota o dando una breve caminata. </p>

                    <p>7.  Haz ejercicio. Está científicamente comprobado que las personas que se ejercitan de manera regular son más felices, resuelven de manera asertiva las situaciones difíciles, son más productivas y mantienen una actitud positiva constante.  </p>

                    <p>8.  Recibe masajes. Las manos son un vehículo de sanación. A través de los masajes suben los niveles de serotonina y baja el cortisol, que es la hormona que causa el estrés. </p>

                    <p>9.  Medita. Estar presente en el aquí y en el ahora te ayuda a no estancarte en el pasado o pensar con angustia en el futuro. Conéctate con tu respiración, contempla tu vida con agradecimiento y sé compasivo contigo mismo. </p>

                    <p>Nuestra sugerencia es que selecciones uno de estos nueve rituales y lo pongas en práctica hasta que lo hagas parte de tu esencia.</p>
                </div>
                <br>

            </div>
        <div class="col-2"></div>
    </div>
    
</body>
<footer th:replace="cliente/layouts/footer :: footer"></footer>
</html>